# build artifacts
dist/
.astro/

# dependencies
node_modules

# pnpm
.pnpm-store/
.pnpm-debug.log*

# environment + secrets
.env
.env.*
!.env.example

# editor / OS
.sass-cache/
*.DS_Store
*.DS_STORE
*.swp
.lighthouseci/
