@layer theme {
  :root {
    --white: #fff;
    --black1: #333;
    --black2: #444;
    --gray1: #4a4a4a;
    --gray2: #8f8e94;
  
    --colorText: var(--black1);
    --colorPrimary: var(--black1);
    --colorContainer: #fff;
    --colorAction: #c2625e;
  
    color-scheme: light;
  
    --sizeQuarterX: 0.2rem;
    --sizeHalfX: 0.4rem;
    --cornerRadiusFull: 99.9rem;
  
    --baseFont: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif;
    --paragraphFont: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  
  html {
    /* 1rem = 10px */
    font-size: 62.5%;
  }
  
  body {
    font-family: var(--baseFont);
  }
  
  h1 {
    font-size: clamp(2.4rem, 2vw + 1.6rem, 3.5rem);
    line-height: 1.25;
  }

  h2 {
    font-size: clamp(1.6rem, 1.5vw + 1rem, 2rem);
    line-height: 1.25;
  }

  p {
    font-size: clamp(1.6rem, 1vw + 1.2rem, 2rem);
    font-family: var(--paragraphFont);
    margin-top: 2.4rem;
  }

  a {
    color: var(--colorAction);
    font-weight: 800;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h3, ul {
    font-size: 1.6rem;
  }

  ul {
    font-family: var(--paragraphFont);
  }
}
