@layer utilities {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .box {
    display: grid;
  
    > * {
      grid-area: 1/-1;
    }
  }

  .grid {
    --gridColumns: 4;
    display: grid;
    grid-template-columns: 1fr;

    @media (width > 640px) {
      grid-template-columns: repeat(calc(var(--gridColumns) - 2), minmax(200px, 1fr));
    }

    @media (width > 860px) {
      grid-template-columns: repeat(var(--gridColumns), minmax(200px, 1fr));
    }
  }
  
  .fillAvailableHeight {
    height: 100%;
  }
  
  .fillAvailableWidth {
    width: 100%;
    width: -webkit-fill-available;
  }
  
  .topStart {
    align-self: start;
    justify-self: start;
  }
  
  .topCenter {
    align-self: start;
    justify-self: center;
  }
  
  .topEnd {
    align-self: start;
    justify-self: end;
  }
  
  .centerStart {
    align-self: center;
    justify-self: start;
  }
  
  .center {
    align-self: center;
    justify-self: center;
  }
  
  .centerEnd {
    align-self: center;
    justify-self: end;
  }
  
  .bottomStart {
    align-self: end;
    justify-self: start;
  }
  
  .bottomCenter {
    align-self: end;
    justify-self: center;
  }
  
  .bottomEnd {
    align-self: end;
    justify-self: end;
  }
  
  .blendMultiply {
    mix-blend-mode: multiply;
  }
  
  .colorText {
    color: var(--colorText);
  }
  
  .cornerRadiusFull {
    border-radius: var(--cornerRadiusFull);
  }
  
  .gapOne {
    gap: 0.8rem;
  }

  .gapThree {
    gap: 2.4rem;
  }
  
  .listStyleNone {
    list-style: none;
  }
  
  .paddingNone {
    padding: 0;
  }
  
  .widthFitContent {
    width: fit-content;
  }

  .background {
    background-color: var(--backgroundColor);
  }

  .typographyHeading {
    font-size: 1.6rem;
  }

  .overlayText {
    color: #fff;
    mix-blend-mode: difference;
  }

  .textAlignCenter {
    text-align: center;
  }
}